GANACHE_URL=http://127.0.0.1:7545
CONTRACT_ADDRESS=0xYourDeployedContractAddress
# Optional when Ganache accounts are not unlocked:
# DEPLOYER_PRIVATE_KEY=0xYourPrivateKey
FLASK_HOST=127.0.0.1
FLASK_PORT=5000
FLASK_DEBUG=0
